<div class="container">
  <div class="header">
    <div>Migraine Tracker</div>
  </div>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <div routerLink="/add" [className]="page == pages.Add ? 'active' : ''">
      <mat-icon fontIcon="add_circle"></mat-icon>
  </div>
    <div routerLink="" [className]='page == pages.Dashboard ? "active": ""'>
        <mat-icon fontIcon="dashboard"></mat-icon>
    </div>
    <div routerLink="/records" [className]="page == pages.Records ? 'active' : ''">
        <mat-icon  fontIcon="list_alt"></mat-icon>
    </div>
    <div routerLink="/statistics" [className]="page == pages.Statistics ? 'active' : ''">
        <mat-icon fontIcon="equalizer"></mat-icon>
    </div>
  </div>
</div>