<div class="container">
    <div class="stat">
        <div>Last week: 3</div>
        <div>Last month: 12</div>
        <div>Last year: 123</div>
        <div>Avg: 3/week</div>
    </div>
    <div class="list">
        <div>
            <div>23/06</div>
            <div>Day, Alcohole, Pills work fast</div>
        </div>
        <div>
            <div>23/06</div>
            <div>Day, Alcohole, Pills work fast</div>
        </div>
        <div>
            <div>23/06</div>
            <div>Day, Alcohole, Pills work fast</div>
        </div>
        <div>
            <div>23/06</div>
            <div>Day, Alcohole, Pills work fast</div>
        </div>
        <div>
            <div>23/06</div>
            <div>Day, Alcohole, Pills work fast</div>
        </div>
        <div>
            <div>23/06</div>
            <div>Day, Alcohole, Pills work fast</div>
        </div>
        <div>
            <div>23/06</div>
            <div>Day, Alcohole, Pills work fast</div>
        </div>
    </div>
</div>