<div class="container">
    <div class="stat">
        <div>Total: {{stat.totalItems}}</div>
        <div>Last week: {{stat.totalPerWeek}}</div>
        <div>Last month: {{stat.totalPerMonth}}</div>
        <div>Last year: {{stat.totalPerYear}}</div>
    </div>
    <div class="list">
        <div *ngFor="let item of items">
            <div class="date">{{item.date.getMonth()+1}}/{{item.date.getDate()}}/{{item.date.getFullYear()}}</div>
            <div class="tags">
                <span *ngFor="let tag of item.tags()">{{tag}}</span>
            </div>
        </div>
    </div>
</div>